    /*
      misc styles, nothing to do with CSS variables
    */
    :root {
        --spacing: 15px;
        --base: #ffc600;
        --blur: 0px;
    }


    img {
        padding: var(--spacing);
        background-color: var(--base);
        filter: blur(var(--blur));
    }

    body {
        text-align: center;
        background: #193549;
        color: white;
        font-family: 'helvetica neue', sans-serif;
        font-weight: 100;
        font-size: 50px;
      }
  
      .controls {
        margin-bottom: 50px;
      }
  
      input {
        width: 100px;
      }

      .hl {
        color: var(--base);
      }